<section class="search">

    <app-filter-buttons (changeForm)="onChangeForm($event)"></app-filter-buttons>

    <button class="create-button" (click)="createObject()">Добавить помещение</button>

    <div class="search-output" *ngFor="let premise of premises">

        <ul class="search-output__item" *ngIf="premise.type === 'flat'"
            (click)="onLinkCard(premise._id)">
            <li><img src="../../assets/plans/plan.svg"></li>
            <li> _id:{{premise._id}}</li>
            <li>number:{{premise.number}}</li>
            <li>type:{{premise.type}}</li>
            <li>floorNumber:{{premise.floorNumber}}</li>
            <li>houseNumber:{{premise.houseNumber}}</li>
            <li>sectionNumber:{{premise.sectionNumber}}</li>
            <li> complexMod:{{premise.complexMod}}</li>
            <li>roomsAmount:{{premise.roomsAmount}}</li>
            <li>decorationType: {{premise.decorationType}}</li>
        </ul>

        <ul class="search-output__item" *ngIf="premise.type === 'garage'"
            (click)="onLinkCard(premise._id)">

            <li><img src="../../assets/plans/plan.svg"></li>
            <li> _id:{{premise._id}}</li>
            <li>number:{{premise.number}}</li>
            <li>type:{{premise.type}}</li>
            <li>sectionNumber:{{premise.sectionNumber}}</li>
            <li>parkingNumber:{{premise.parkingNumber}}</li>
            <li>holdingCapacity:{{premise.holdingCapacity}}</li>
            <li> withRepairPit:{{premise.withRepairPit}}</li>
        </ul>

        <ul class="search-output__item" *ngIf="premise.type === 'office'"
            (click)="onLinkCard(premise._id)">
            <li><img src="../../assets/plans/plan.svg"></li>
            <li> _id:{{premise._id}}</li>
            <li>number:{{premise.number}}</li>
            <li>type:{{premise.type}}</li>
            <li>sectionNumber:{{premise.sectionNumber}}</li>
            <li>floorNumber:{{premise.floorNumber}}</li>
            <li>houseNumber:{{premise.houseNumber}}</li>
            <li>roomsAmount:{{premise.roomsAmount}}</li>
            <li>decorationType:{{premise.decorationType}}</li>
            <li>atBusinessComplex:{{premise.atBusinessComplex}}</li>
        </ul>
    </div>
</section>


