<form class="search-form" [formGroup]="profileForm" (change)="onChangeForm()">

  <div class="search-form__wrap">
    <label> <input id="flat" type="checkbox" formControlName="flat">
      <div class="search-form__wrap-item">Квартиры</div>
    </label>
  </div>

  <div class="search-form__wrap">
    <label> <input id="office" type="checkbox" formControlName="office">
      <div class="search-form__wrap-item">Офисы</div>
    </label>
  </div>

  <div class="search-form__wrap">
    <label> <input id="garage" type="checkbox" formControlName="garage">
      <div class="search-form__wrap-item">Гаражи</div>
    </label>
  </div>

</form>
